*{
    margin: 0;
    padding: 0;
}
header{
   background-color: #efe4b0;
   height: 15vh;
   text-align: center;
   padding-top: 50px;;
}
.titre{
    font-size: 32px;
    color: #900910;
   font-weight: bold;
   padding-top: 20px;
   text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}
main {background-color: beige;
    height: 75vh;
    width: 100%;
    display: flex;

}
aside{
    float: left;
    width: 15 vw;
    height: 100%;
    background-color: #b97a57;
}

nav{display: flex ;
    flex-direction: column ;
    gap: 10 px ;
 margin: 20px 0 0 50px;}

li{list-style-type: none;
width:150px ;
height:40px ;
background-color: #efe4b0;
text-align: center;
margin-bottom: 10px;
padding-top: 10px;
border-radius: 5px;
}

li:hover{
    box-shadow: 5px 5px 20px black;
}

a{color: white;
text-decoration: none;
font-size: 24px;}
a:hover{color: #848484;}

section{text-align: center;
display: grid;
place-items: center;
height: 100%;
width: 80%;}
.message{
    font-size:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 800;
    font-style: italic;
    color: #900910;
    margin-bottom: 40px;
}

footer{text-align: center;
padding: 10px;
font-weight: bold;
font-size: 20px;
color: #900910;
background-color: #848484
text-decoration: underline;
}
/*section h2{
    width: 60px;
    height: 4px;}*/